@tailwind base;
@tailwind components;
@tailwind utilities;

/* global tweaks */
:root {
  --bg: #ffffff;
  --card: #ffffff;
}
.dark {
  --bg: #0b1220;
  --card: #071023;
}

html,
body,
#root {
  height: 100%;
}
body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: radial-gradient(
      circle at top left,
      rgba(11, 105, 255, 0.08),
      transparent 70%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(11, 105, 255, 0.06),
      transparent 70%
    );
}
